img {
    max-width: 250px;
    max-height: 250px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px; 
    border: 2px solid black;
    color: pink;
    background-color: green;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    color: pink;
    background-color: green;
}
button{
    background-color: yellow;
}
